@yellow :#F3A158;

.margenes (@top: 0px,@bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}
.header {
    margin-top: 40px;
}
.main-title {
 text-shadow: @yellow;
    color: blue;
}
.card-auto {
    flex: 1 130px;
    padding: 2px 0px 2px 0px;
    .margenes(10px,0px);
    }

#sticky-footer {
    flex-shrink: none;
  }
.list {
    margin:0px ; 
    list-style-type:none ;
    font-size:14px; 
    padding:0px 0px 10px 0px ; 
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
  }