$yellow :rgba(241, 219, 21, 0.924);
$red: red;
$green: green;

@mixin margenes ($top,$bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}
@mixin pads ($ptop, $prig, $pbot, $plf) {
    padding-top: $ptop;
    padding-right: $prig;
    padding-bottom: $pbot;
    padding-left: $plf;
}
.header {
    margin-top: 40px;
}
.main-title {
 text-shadow: $yellow;
    color:$green;
}

.navBarFondo {
    background-color: $yellow;
}
.navbar-details {
    text-shadow: $yellow;
       color:$red;
   }
.card-auto {
    flex: 1 130px;
    @include pads(2px, 0px, 2px, 0px);
    @include margenes(10px,0px);
    }

#sticky-footer {
    flex-shrink: none;
  }
.list {
    margin:0px ; 
    list-style-type:none ;
    font-size:14px; 
    padding:0px 0px 10px 0px ; 
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
  }