.header {
  margin-top: 40px;
}
.main-title {
  text-shadow: #F3A158;
  color: blue;
}
.card-auto {
  flex: 1 130px;
  padding: 2px 0px 2px 0px;
  margin-top: 10px;
  margin-bottom: 0px;
}
#sticky-footer {
  flex-shrink: none;
}
.list {
  margin: 0px ;
  list-style-type: none ;
  font-size: 14px;
  padding: 0px 0px 10px 0px ;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  /* Footer height */
}
