.header {
  margin-top: 40px; }

.main-title {
  text-shadow: rgba(241, 219, 21, 0.924);
  color: green; }

.navBarFondo {
  background-color: rgba(241, 219, 21, 0.924); }

.navbar-details {
  text-shadow: rgba(241, 219, 21, 0.924);
  color: red; }

.card-auto {
  flex: 1 130px;
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 0px;
  margin-top: 10px;
  margin-bottom: 0px; }

#sticky-footer {
  flex-shrink: none; }

.list {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px; }

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  /* Footer height */ }
